<main class="container mt-3 mb-5">
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
    <div class="text-center mb-5">
      <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
        <a href="goal.html" class="btn btn-outline-secondary">⛱Для путешествий</a>
        <a href="goal.html" class="btn btn-outline-secondary">🏫 Для школы</a>
        <a href="goal.html" class="btn btn-outline-secondary">🏢 Для работы</a>
        <a href="goal.html" class="btn btn-outline-secondary">🚜 Для переезда</a>
      </div>
    </div>
</main>
{% block head %} {% endblock %}